.hero {
    @apply lg:flex-row h-full min-h-[670px] flex items-center px-10 md:px-20 py-12 relative z-10 mt-10 text-center lg:text-left animate-fadeIn;

    &Title {
        @apply mb-20 text-4xl leading-relaxed text-headerColor whitespace-pre-wrap;
    }

    &CountInfo {
        @apply flex flex-col md:flex-row justify-center lg:justify-start;
    }

    &Count {
        @apply flex justify-center md:justify-start items-center mt-9;
    }

    &Icon {
        @apply text-white ml-3 mr-6;
    }

    &Photo {
        @apply hidden w-[65%] h-full pl-5 lg:flex items-center;
    }
}
